<!DOCTYPE html>
<html>
  <head>
    <title>Adrive</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%- if controller_name != 'sessions' && controller_name != 'passwords' %>
      <%= render 'layouts/messages' %>
    <% end -%>

    <%= yield %>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
